# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6

print(number)

6

##### Assinging float

In [4]:
numberFloat = 2.3

print(numberFloat)

numberFloat = 2.5

print(numberFloat)

2.3
2.5

#### Performing Calculations on ints and floats

##### Addition

In [13]:
num1 = 2
num2 = 5.4
result = num1+num2

print(result)

result += 2
print(result)

7.4
9.4

##### Subtraction

In [14]:
result_diff = 5-2
print(result_diff)

result_diff -= 2
print(result_diff)

3
1

##### Multiplication

In [10]:
result_mul = num1*num2
print(result_mul)

10.8

##### Division

In [12]:
result_div = num2/num1
print(result_div)

2.7

##### Floor Division

In [17]:
result_floor = num2 // num1
print(result_floor)

#shorthand
result_floor //= 2
print(result_floor)

2.0
1.0

##### Modulo

In [20]:
result_mod = 100 % 30
print(result_mod)

#shorthand
result_mod %= 2
print(result_mod)

10
0

##### Exponential

In [22]:
square = 5 ** 2
print(square)

#shorthand
square **= 2
print(square)

25
625

### String Input-Output

##### String Assignment

In [23]:
name = "tim"
print(name)

tim

##### print() <br>
<p>Don't forget about end=' '</p>

In [26]:
print("This is my first name: ", name)

print("Full name: ", name, end = " scherman")

This is my first name:  tim
Full name:  tim scherman

##### String Concatenation

In [29]:
first_name = "Joe"
last_name = "John"
full_name = first_name + last_name
print(full_name)

JoeJohn

##### Type Conversion

In [32]:
number = "32"
change_type_num = int(number)
change_type_num += 5
print(change_type_num)

37

##### input()

In [43]:
# input() will ALWAYS return a string!!! ALL THE TIME

# name = input("What is your name: ")
# print(name)

age = int(input("How old are you? "))
new_age = age + 1
print(new_age)

How old are you? 45
46

##### format()

In [41]:
age = 65
new_age = str(age)
name = "Rob"

result_string = "You are {}, you are {} years old and you are getting wiser!".format(name, age)
print(result_string)

result_again = f"{new_age + '1'} is a great time in life!"
print(result_again)

You are Rob, you are 65 years old and you are getting wiser!
651 is a great time in life!

##### Old Way (python 2)

In [42]:
result_string2 = "You are %s and look great for your age!" %age
result_string2 = print(result_string2)

You are 65 and look great for your age!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [46]:
color = input("What color is your car? ")
year = input("What year is your car? ")
make = input("What make is your car? ")
model = input("What model is your car? ")

print("You have a {} {} {} {} that looks in pretty rough shape!".format(year, color, make, model))

What color is your car? red
What year is your car? 1998
What make is your car? ferrari
What model is your car? GT917
You have a 1998 red ferrari GT917 that looks in pretty rough shape!

### If Statements

In [49]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

num1 = 5
num2 = 10

if num1 == 5:
    print("equal values")

equal values

##### 'is' keyword

In [61]:
num3 = 55
num4 = num3

if num3 is num4:
    print("This is the same type or similar object")

This is the same type or similar object

##### 'in' keyword

In [62]:
char_name = "Max Payne"

if "Max" in char_name:
    print("The character who lost everything...")

The character who lost everything...

##### 'not in' keyword'

In [66]:
sega_char = "Sonic"

if 'a' not in sega_char:
    print("a is NOT HERE")

a is NOT HERE

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [67]:
playa_input = input("Enter a word: ")
if 'p' in playa_input:
    print("Word has p in it")
else:
    print("Word does not have p in it")

Enter a word: problem
Word has p in it

## Using 'and'/'or' with If Statements

In [69]:
# Truth Tree
# T && T = T
# T && F = F
# T || F = T
# F || T = T
# F || F = F

first_name = "Max"
age = 10

if first_name == "Max" and age == 10:
    print("The name is Smith")

The name is Smith

### Elif Statements

In [70]:
first_name = "Max"
age = 10

if first_name == "Max" and age == 10:
    print("The name is Smith")
elif first_name == "Max" and age == 15:
    print("This is no one")

The name is Smith

### Else Statements

In [ ]:
# see above

### For Loops

In [71]:
# for item in iterable_thing:
    # do some stuff
    
name = "Jimbo"

for letter in name:
    print(letter)

J
i
m
b
o

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [72]:
for i in range(20):
    if i == 7:
        continue
    print(i)

0
1
2
3
4
5
6
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

In [73]:
for i in range(20):
    if i == 7:
        break
    print(i)

0
1
2
3
4
5
6

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [ ]:
for i in name:
    pass

# I will come back and finish this part of my code later!

##### Double For Loops

In [76]:
for i in range(5):
    for j in range(5):
        if i == 4:
            j = i-1
    print(j)
print(i)

4
4
4
4
3
4

### While Loops

In [78]:
# while condition statement (something that is true or false):
    # do some stuff repeatedly 

num = 0
while True:
    if num >= 10:
        break
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [81]:
game_running = True
score = 0

while game_running:
    user_input = input("Say something: ")
    if user_input == "quit":
        game_running = False
    print(user_input)
    score += 1
    print(f"Score: {score}")

Say something: the
the
Score: 1
Say something: bro
bro
Score: 2
Say something: yo
yo
Score: 3
Say something: tho
tho
Score: 4
Say something: ho
ho
Score: 5
Say something: quit
quit
Score: 6

##### While & For Loops Used Together

In [84]:
num = 0

while num < 5:
    print("\n While Loop Iteration: " + str(num))
    
    for i in range(6):
        print("For Loop Iteration: " + str(i+1))
    
    num += 1

 While Loop Iteration: 0
For Loop Iteration: 1
For Loop Iteration: 2
For Loop Iteration: 3
For Loop Iteration: 4
For Loop Iteration: 5
For Loop Iteration: 6

 While Loop Iteration: 1
For Loop Iteration: 1
For Loop Iteration: 2
For Loop Iteration: 3
For Loop Iteration: 4
For Loop Iteration: 5
For Loop Iteration: 6

 While Loop Iteration: 2
For Loop Iteration: 1
For Loop Iteration: 2
For Loop Iteration: 3
For Loop Iteration: 4
For Loop Iteration: 5
For Loop Iteration: 6

 While Loop Iteration: 3
For Loop Iteration: 1
For Loop Iteration: 2
For Loop Iteration: 3
For Loop Iteration: 4
For Loop Iteration: 5
For Loop Iteration: 6

 While Loop Iteration: 4
For Loop Iteration: 1
For Loop Iteration: 2
For Loop Iteration: 3
For Loop Iteration: 4
For Loop Iteration: 5
For Loop Iteration: 6

### Built-In Functions

##### range()

In [92]:
# range(start, stop, step)
# Defaults: start = 0, stop is REQUIRED, step = 1

for i in range(8, 75, 13):
    print(str(i) + " balls")

8 balls
21 balls
34 balls
47 balls
60 balls
73 balls

##### len()

In [93]:
name = "Bill"

length = len(name)
print(length)

4

##### help()

In [95]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

##### isinstance()

In [98]:
if(isinstance(4.3, float)):
    print("The number is a float bro")

The number is a float bro

##### abs()

In [99]:
# |5|

print(abs(-5))

5

### Try and Except

In [101]:
# Use this whenever you expect to encounter a bug so that the error doesn't cause the program to stop
# Use this to log out grateful and informative error messages

try: 
    number_test = 0
    input_num = int(input("Guess a number: "))
    if input_num != number_test:
        input_num = input_num+number_test
        print("Your number is: " + str(input_num))

except:
    print("That did not work - ERROR: Please change input to a number")

Guess a number: hello
That did not work - ERROR: Please change input to a number

### Lists

##### Declaring Lists

In [105]:
my_list = [] #empty list

names = ["Bill", "Bob", "Phil", "Ricky", "Baloney"]
print(names)

['Bill', 'Bob', 'Phil', 'Ricky', 'Baloney']

##### Indexing a List

In [114]:
# Syntax: list_name[start:stop:step]

# Single index
print(names[0])

# Print the last value NO MATTER THE SIZE of the list!
print(names[-2])

# Print starting at 1 going to the end
print(names[1:])

# Print starting at beginning of list until whatever index we give it
print(names[:3])

# Print from one index to another
print(names[2:4])

# Print starting at index 1 going up by 2 for each iteration
print(names[1::2])

# Print starting at the end and going down by 1 each time
print(names[::-1])

Bill
Ricky
['Bob', 'Phil', 'Ricky', 'Baloney']
['Bill', 'Bob', 'Phil']
['Phil', 'Ricky']
['Bob', 'Ricky']
['Baloney', 'Ricky', 'Phil', 'Bob', 'Bill']

##### .append()

In [115]:
names.append("Philipp")
print(names)

['Bill', 'Bob', 'Phil', 'Ricky', 'Baloney', 'Philipp']

##### .insert()

In [116]:
names.insert(3, "Leeroy")
print(names)

['Bill', 'Bob', 'Phil', 'Leeroy', 'Ricky', 'Baloney', 'Philipp']

##### .pop()

In [117]:
# default is the last value if no parameter given
# pop returns the element that was removed in case you want to assign it into a variable

my_name = names.pop(3)
print(my_name)
print(names)

Leeroy
['Bill', 'Bob', 'Phil', 'Ricky', 'Baloney', 'Philipp']


##### .remove()

In [119]:
# Value to be removed, not the index
# names.remove("Bob")
# print(names)

# remove multiple Bobs from the list
while 'Bob' in names:
    names.remove('Bob')
print(names)

['Bill', 'Phil', 'Ricky', 'Baloney', 'Philipp']

##### del()

In [120]:
# Be careful, it can cause indexing errors if used improperly
# remove by index

del(names[1])
print(names)

['Bill', 'Ricky', 'Baloney', 'Philipp']

##### Concatenating Two Lists

In [121]:
first_list = [0, 1, 2]
second_list = [3, 4, 5]

big_list = first_list + second_list
print(big_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [122]:
names = ["Max", "Sam", "Josh", ["Sally", "Sue", "Tammy"]]
print(names)
print(names[3][1])

['Max', 'Sam', 'Josh', ['Sally', 'Sue', 'Tammy']]
Sue

##### Looping Through Lists

In [123]:
# two way to loop through a list, one is by index, the other is by using the 'in' keyword

# With a for loop using the index
for i in range(len(names)):
    print(names[i])

# Loop with a for loop and in
for name in names:
    print(name)

Max
Sam
Josh
['Sally', 'Sue', 'Tammy']
Max
Sam
Josh
['Sally', 'Sue', 'Tammy']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [139]:
num = 1000

for i in range(num):
    print(i**3)
    if(i**3 >= 1000):
        break

print("You've reached 1000!!")

0
1
8
27
64
125
216
343
512
729
1000
You've reached 1000!!

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [161]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

start = 1
finish = 100

prime_list = []
for i in range(start, finish):
    if i == 0 or i == 1:
        continue
    else:
        for j in range(2, int(i/2)+1):
            if i % j == 0:
                break
        else:
            prime_list.append(i)


print(prime_list)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [168]:
try:
    user_age = int(input("Hello, please type in your age: "))
    if(user_age < 18):
        print("You are a kid.")
    elif(user_age >= 18 and user_age <= 65):
        print("You are an adult.")
    else:
        print("You are a senior.")

except:
    print("Hey you need to type in a number!")

Hello, please type in your age: 23
You are an adult.